<Title:>

        Proteomics Analysis Tool - {{_session.userId}}


<Head:>

    <meta name="viewport" content="width=device-width">
        <link href="lib/css/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="./lib/css/bootstrap.css" rel="stylesheet">


        <link href="./css/main.css" rel="stylesheet">
        <link href="./css/w3.css" rel="stylesheet">

    <!-- External Libraries -->

<Body:>


    <!--Cytoscape-related variables-->
    <script src="./src/utilities/global-variables.js"></script>

    <script src="lib/js/jquery-1.8.2.js"></script>
    <script src="lib/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="lib/js/jquery.expander-min.js"></script>
    <script src="lib/js/jquery.qtip.js"></script>
    <script src="lib/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="lib/js/bootstrap.min.js"></script>

    <script src="lib/js/underscore.js"></script>
    <script src="lib/js/cytoscape.js"></script>
    <!--<script src="lib/js/cytoscape.renderer.canvas.sbgn-renderer.js"></script>-->
    <!--<script src="lib/js/cytoscape.js-panzoom.js"></script>-->
    <script src="lib/js/cytoscape.js-qtip.js"></script>
    <script src="lib/js/backbone-min.js"></script>
    <script src="lib/js/jquery.highlighttextarea.js"></script>

    <script src="lib/js/FileSaver.js"></script>
    <script src="lib/js/jquery.noty.packaged.js"></script>
    <script src="lib/js/socket.io.js"></script>
    <script src="lib/js/cytoscape-cose-bilkent.js"></script>


    <!--Source code-->

    <script src="./src/utilities/topology-grouping.js"></script>
    <script src="./src/utilities/causality-cy-renderer.js"></script>

    <!--Sif-related-->
    <script src="./src/sif-visualizer/sif-parser.js"></script>
    <script src="./src/sif-visualizer/sif-cy-stylesheet.js"></script>

    <!--Cgf-related-->
    <script src="./src/cgf-visualizer/cgf-cy-stylesheet.js"></script>


    <!--Causality-related-->

    <div id = "banner">
        Proteomics Analysis Tool
    </div>
    <div id= "input-container">
        <!--<div id="divUpload" class="tabcontent">-->

            <table  border="0" cellpadding="2" width="100%" align="top" >
                <tbody>

                <tr>
                    <td  class = "instructions"  align="left" height="15">
                       A. Paste a Graph
                    </td>
                </tr>

                <tr>
                    <td>
                        <view name="text-input-tabs"></view>
                    </td>
                </tr>

                <tr> <td> </td></tr>

                <tr> <td> </td></tr>
                <tr>
                    <td align="left" height="8">
                        <b><font color="#444444"  face="Verdana" size="2">Or&nbsp;</font></b>
                    </td>
                </tr>
                <tr> <td> </td> </tr>

                <tr>
                    <!--<td  align="left" height="25">-->
                    <td>

                        <div  class="causality-file">
                            B. Load from a file
                            <label for="graph-file-input">
                                <i class="fa fa-file-text"></i> Open
                            </label>

                            <div><input type="file" id="graph-file-input" accept=".txt,.sif, .cgf" on-change = "loadGraphFile($event)" value ={_page.newFile} ></div>
                        </div>
                    </td>
                    <!--</td>-->
                </tr>



                <tr>
                    <td class = "check-grouping"><input type="checkbox" id = "sif-topology-grouping" checked = "{{_page.doc.doTopologyGrouping}}"> Topology grouping</td>
                </tr>
                </tbody>

            </table>
        </div>
    <!--</div>-->
    <!--<view name="input-container"></view>-->






    <div id = "graph-container">

    </div>


    <text-input-tabs:>
        <div id= "text-input-tabs">
            <ul class="nav nav-tabs">
                <li class = "active "><a data-toggle="tab" href="#cgf-text-area">Cgf</a></li>
                <li><a data-toggle="tab"  href="#sif-text-area">Sif</a></li>
            </ul>


            <div class="tab-content">

                <div id="cgf-text-area" class="tab-pane fade in active">
                    <textarea rows="10" id="cgfBox" class="input-text">{{_page.doc.cgfText}}</textarea>

                    <p></p>

                    <input type="button" class = "input-buttons" id = "cgf-text-clear-button"   value="Clear" on-click ="clearCgfText()"> &nbsp;&nbsp;&nbsp;

                    <input type="button" class = "input-buttons" id = "cgf-text-submit-button"   value="Submit" on-click ="updateCgfGraph()" >

                </div>


                <div id="sif-text-area" class="tab-pane">

                    <textarea rows="10" id="sifBox" class="input-text">{{_page.doc.sifText}}</textarea>
                    <p></p>

                    <input type="button" class = "input-buttons" id = "sif-text-clear-button"   value="Clear" on-click ="clearSifText()"> &nbsp;&nbsp;&nbsp;

                    <input type="button" class = "input-buttons" id = "sif-text-submit-button"   value="Submit" on-click ="updateSifGraph()" >

                </div>

            </div>

        </div>
