body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

:root {
    --input-width: 400px;
    --graph-width: 80%;
    --margin-width: 10px;
    --total-height: 1100px;
}

#banner{
    position: absolute;
    height: 70px;
    width:  calc( var(--input-width) + var(--graph-width) + var(--margin-width));
    background-color: #7d7d80;
    margin:10px;
    padding-top: 10px;
    text-align: center;
    font-size: xx-large;
    color:floralwhite;
}
#input-container{

    position: absolute;
    top: 100px;
    width: var(--input-width);
    padding: 10px;
    height: var(--total-height);
    margin: var(--margin-width);

    color: #444444;
    background-color: #0B9BCD;

    font-size:larger;
    font-family: Verdana;
}
#graph-container{

    position: absolute;
    top: 100px;
    border: 1px solid #ddd;
    width: var(--graph-width);
    height: var(--total-height);
    left: calc( var(--input-width) + var(--margin-width));
    margin: var(--margin-width);

}

#graph-file-input{

    font-size:medium;
}

.check-grouping{

    padding-top: 30px;
    font-size:small;
}

.input-text{

    font-size: small;
    align: left;
}

#sifBox{
    height: 600px;
    width: calc( var(--input-width) - 2 * var(--margin-width));
}



#cgfBox{
    width: calc( var(--input-width) - 2 * var(--margin-width));
    height: 600px;
}

.tab-link{

    color: #444444;
}


/* Funda: don't forget to add this for fa file icons*/
input[type="file"] {
    display: none;
}

.causality-file{
    /*border: 1px solid #ccc;*/
    display: inline-block;
    font-size: large;
    /*padding: 6px 12px;*/
    cursor: pointer;
    padding-top: 5px;
    background-color: #0b9bcd;
    color: floralwhite;
    /*border-radius: 5px;*/
    width:calc( var(--input-width)/2);
}

.fa-file-text{
    font-size: xx-large;
}

.instructions{
    color:floralwhite;
}

.input-buttons{
    font-size:medium;
}

